@import "tailwindcss";

@font-face {
    font-family: "Oswald";
    src: url("Oswald/Oswald-VariableFont_wght.ttf") format('truetype'),
         url("Oswald/Oswald-VariableFont_wght.woff2") format('woff2'),
         url("Oswald/Oswald-VariableFont_wght.woff") format('woff');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype'),
         url('Quicksand/Quicksand-VariableFont_wght.woff2') format('woff2'),
         url('Quicksand/Quicksand-VariableFont_wght.woff') format('woff');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Imperial';
    src: url('Imperial/ImperialScript-Regular.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}
.font-Imperial{
    font-family: 'Imperial', cursive;
}
.font-Quicksand{
    font-family: 'Quicksand', sans-serif;
}
.font-oswald{
    font-family: 'Oswald', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}