@import "tailwindcss";

@font-face {
    font-family: "Oswald";
    src: url("Oswald/Oswald-VariableFont_wght.ttf") format('truetype'),
         url("Oswald/Oswald-VariableFont_wght.woff2") format('woff2'),
         url("Oswald/Oswald-VariableFont_wght.woff") format('woff');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody';
    src: url('Anybody/Anybody-Italic-VariableFont_wdth\,wght.ttf') format('truetype'),
         url('Anybody/Anybody-VariableFont_wdth,wght.ttf') format('woff2');

    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Imperial';
    src: url('Imperial/ImperialScript-Regular.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Agnes';
    src: url('Agnes-Regular.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}
.Agnes{
    font-family: "Agnes", sans-serif;
}
.Anybody{
    font-family: "Anybody", sans-serif;
}
.font-Imperial{
    font-family: 'Imperial', cursive;
}
.font-Quicksand{
    font-family: 'Quicksand', sans-serif;
}
.font-oswald{
    font-family: 'Oswald', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}